[submodule "extern/bullet3"]
	path = extern/bullet3
	url = https://github.com/javierdelapuente/bullet3.git
	branch = master
[submodule "extern/qhull"]
	path = extern/qhull
	url = https://github.com/javierdelapuente/qhull.git
	branch = master
[submodule "extern/ode"]
	path = extern/ode
	url = https://github.com/javierdelapuente/ode.git
	branch = master
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://github.com/javierdelapuente/eigen
	branch = master
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/javierdelapuente/googletest.git
[submodule "extern/ogre"]
	path = extern/ogre
	url = https://github.com/javierdelapuente/ogre.git
